.icon-btn.active {
  border: 2px solid #0d6efd !important;
  background-color: #e7f1ff !important;
}

.icon-btn:hover {
  background-color: #f8f9fa;
  transform: scale(1.05);
  transition: 0.2s;
}

.text-pink {
  color: #e83e8c;
}

#galleryPreview {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-height: 200px;
    overflow-y: auto;
}

#mainImageDropzone {
    border: 2px dashed #6c757d;
    transition: border-color 0.2s, background-color 0.2s;
}
#mainImageDropzone:hover {
    border-color: #0d6efd;
    background-color: #f8f9fa;
}

.media-item {
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.media-item:hover {
  border-color: #009ef7; /* biru Metronic */
  background-color: rgba(0, 158, 247, 0.05);
  transform: scale(1.03);
}

.media-item.selected {
  border-color: #009ef7;
  box-shadow: 0 0 0 3px rgba(0, 158, 247, 0.3);
  background-color: rgba(0, 158, 247, 0.1);
}
